{% load staticfiles %}
<div class="row" id="intro">
    <div class="col-md-8">
        <h2 style="text-align: left;">Find Data and Information About the Circular Economy</h2>
        <p>
          This registry is a tool for finding data and information resources related to
          enabling the US Circular Economy (CE).  It is part of an initiative at
          the National Institute of Standards and Technology (NIST) to support the
          Nation's need to transition away from a linear--take, make, use, waste--economic
          model toward one in which materials repeatedly cycle within the economy.  
        </p><p>
          With this registry, one can <a href="/explore/keyword">search for resources</a> based on
          keywords and filter the results based on CE concepts and topics.  The types of
          resources that can be found here are listed at the right.  Each resource
          description includes a link to where it can be found on the web.
        </p><p>
          The content of this registry is curated by the Circular Economy Initiative at
          NIST. <!-- and by its strategic partners -->  For more information about this registry
          or how to contribute to it, please contact us at
          <a href="mailto:ceregistry@nist.gov">ceregistry@nist.gov</a>.
        </p>
    </div>
     <div class="col-md-4" id="tiles">
    </div>
</div>
