#intro {
    margin-top: 0.25em;
    text-align: justify;
}


#content {
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../../img/cerr-background.jpg') center  no-repeat;
    background-size: contain;
}

p {
    color: black;
}

#intro #mgi-diagram {
    width: 15em;
}

#intro p a {
	color: #9eac87;
	font-weight: bold;
	font-style: italic;
}

#intro div button {
    background-color: #9eac87 !important;
    width: 15em;
    border: solid 2px black;
    margin-left: 33%;
    margin-top: 2em;
}

#intro div button a {
    color: white;
}

#browse-btn {
    float: right;
    color: #c0c0c0;
    font-size: 0.6em;
}

/**
 * Tiles CSS
 */

.tile .icon {
    margin: 0.4em 0.2em 0.25em 0.25em;
    width: 2em;
    font-size: 2em;
    float: left;
    text-align: center;
}

.tile {
    display: inline-block;
    width: 100%;
}

.tile .text h3 {
    margin-bottom: 0.1em;
}

.tile .text {
    margin-top: 1.25em;
    font-size: 0.85em;
    text-align: justify;
}

/**
 *
 **/
#available-options {
    margin-bottom: 0;
}
