{% load static %}


<!DOCTYPE html>
<head>
  <title>CERR Editing: {{ recname }}</title>

  {% block core_js %}
  <script src="{% static 'cerr_curate_app/common/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'cerr_curate_app/common/js/jquery.fancytree-all-deps.min.js' %}"></script>
  <script src="{% static 'cerr_curate_app/user/js/keyword.js' %}"></script>
  <script src="{% static 'cerr_curate_app/user/js/editform.js' %}"></script>
  <script src="{% static 'cerr_curate_app/user/js/sequencerole.js' %}"></script>
  <script src="{% static 'cerr_curate_app/user/js/sequencerole.raw.js' %}"></script>

  {% endblock %}
  {% block core_css %}
<!--  <link rel="stylesheet" href="{% static 'cerr_curate_app/libs/bootstrap/4.5.2/css/bootstrap.min.css' %}" />-->
  <link rel="stylesheet" href="{% static 'cerr_curate_app/libs/fancytree/skin-bootstrap/ui.fancytree.css' %}" />
  <link rel="stylesheet" href="{% static 'cerr_curate_app/libs/font-awesome/5.13.0/css/all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'cerr_curate_app/common/css/main.css' %}" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/skin-win8/ui.fancytree.min.css">
  <link rel="stylesheet" type="text/css" href="/static/cerr_curate_app/user/forms/css/editform.css">
  {% endblock %}
</head>

<body>
<h1 style="width:65%; font-size: 2em; margin-bottom:0em;">Edit {{ data.restype }} record: {{ data.recname }}</h1>

<form action="{% url 'start_curate:edit' data.draft_id %}" method="post">
{% csrf_token %}
<input type="hidden" name="name" value="{{data.recname}}"/>
  {{ data.editform }}

</form>

</body>
