{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create a New Record</title>
<!--  <link rel="stylesheet" href="{% static 'cerr_curate_app/libs/bootstrap/4.5.2/css/bootstrap.min.css' %}" />-->
  <link rel="stylesheet" href="{% static 'cerr_curate_app/libs/font-awesome/5.13.0/css/all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'cerr_curate_app/common/css/main.css' %}" />
  <script src="{% static 'cerr_curate_app/common/js/jquery.slim.min.js' %}" ></script>
  <script src="{% static 'cerr_curate_app/libs/bootstrap/4.5.2/js/bootstrap.min.js' %}" ></script>
</head>

<body>
<h1>Create or Upload a New Record</h1>

<form enctype="multipart/form-data" method="post">
{% csrf_token %}

  {{ data.startform }}
  <div style="margin-top: 2ex">
  <input type="submit" value="Edit new record"/>
  </div>
</form>



</body> </html>
