#content {
    width: cal(100% - 3em);
    margin: 1px 1.5em 1em 1.5em;
}
li {
  list-style-type: square;
}

/*overwrite fancytree checkbox styling*/

span.fancytree-checkbox{
 background-image: none !important;
 margin-top:0.8em !important;
}

span.fancytree-expander{
 background-image: none !important;
 margin-top:0.8em !important;
}

/* END overwrite fancytree checkbox styling*/