<script>
    // Handle a maximum of 'limit' checkboxes selected

    var limit = 2;
    $(document).ready(function(){

        $("input[type=checkbox]").click(function(){
            areChecked=$("#div_id_audience input:checked")
            var all = $("#div_id_audience input")
            nb_checked= $("#div_id_audience input:checked").length;

            if (nb_checked<limit) {
                for (var el in all){
                    if(all[el].parentElement){
                        all[el].parentElement.classList.remove("grey");
                    }
                }
             }
            if (nb_checked == limit) {
                 for (var el in all){
                    if(!all[el].checked) {
                        if(all[el].parentElement){
                            all[el].parentElement.classList.add("grey");
                       }
                   }
                }
            }
            if (nb_checked>limit) {
                console.log('nop too many')
                this.checked=false;
            }
        });
    });
</script>


    <style>
        .title {
        font-weight: bold;
        display: inline-block;
        }

        .titleRow{
        margin-top: 1.5em;
        }

        .grey {
        color: grey;
        }

        .single-checkbox{
        margin: 0 0.5em
        }

        .contentRow{
        margin-top:-0.5em
        }


    </style>

    <div id="div_id_audience">
        <div class="titleRow">
            <p class="title"> Primary Audience </p>
            <span>(maximum 2)</span>
        </div>

        <div class="contentRow">
            {% for choice in choices %}
                <div class="form-check-inline{% if max_selected and not choice.selected %} grey{% endif %}">
                    <input type="checkbox" class="single-checkbox" name="{{input_name}}"
                           value="{{choice.value}}" {{choice.checked}}>
                    <label for="{{choice.value}}">{{choice.label}}</label><br>
                </div>
            {% endfor %}
        </div>
    </div>
