
<!-- <form id="empty-layer-uploader" method="post" enctype="multipart/form-data"> -->
        <div id="form_empty_layer">
<!--      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> -->
            {{ form.errors }}
            {{ form.non_field_errors }}
            {% if errormsgs %}
              {% for value in errormsgs %}
                </p>  {{ value }} </p>
              {% endfor %}
            {% endif %}
        {% for error in form_empty_layer.non_field_errors %}
              {{ error }} </br>
            {% endfor %}
            </br>
            {% for field in form_empty_layer.visible_fields %}
              {{ field }} </br>
            {% endfor %}
        </div>
        </br>
<!-- </form> -->