<div id="url_form">
{% if form.show_aggregate_errors %}
{% if form.errors %}<div style="color: red;"><i>Please correct the errors indicated below</i></div>{% endif %}
{{ errors }}
{% endif %}
    <div class="url">
        <label class="form-label" for="create-homepage" style="font-weight: bold">Resource's Home Page URL (optional):</label> <br/>
    {{ form.homepage_errors }}
    <input type="text" class="" id="create-homepage"  style="width:100%"
           {% if form.homepage.value != None %}value="{{ form.homepage.value|stringformat:'s' }}"{% endif %}
           name="{{ form.homepage.html_name }}"/> &nbsp; &nbsp;</br>
        <button type ="button" class="btn btn-primary" style="margin-left:2em; margin-top:-0.5em;">Auto-Fill</button> Press this to autofill the form </br>
    </div>
</div>
{{ data.homepage }}